@use '/sass/abstracts/variables' as var;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: var.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: var.$bp-tablet-horizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: var.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: var.$bp-desktop-xl) {
      @content;
    }
  }
}

@mixin flex-row-center() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-column-center() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin link() {
  display: inline-block;
  text-decoration: none;
  color: var.$dark-blue;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
    text-shadow: 0 0 0.5px currentColor;
  }  
}

@mixin styles($weight, $size, $line-height, $letter-spacing) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin button-cursos(){
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  padding: 10px 16px;
  background-color: var.$blue;
  color: var.$white;
  border-radius: 16px;
  transition-duration: 0.5s;
  &:hover {
      background-color: var.$dark-blue;
      transition-duration: 0.5s;
      color: var.$white;
  }
}

@mixin button-submit-reset() {
  background-color: var.$dark-blue;
  color: var.$white;
  padding: 10px 16px;
  border: none;
  border-radius: var.$br-1;
  &:hover {
      background-color: #666CA3;
  }
}

@mixin background-heading() {
  padding: 10px 16px;
  border-radius: 16px;
  background-image: linear-gradient(to right, var.$yellow, var.$blue);
}

@mixin boxshadow-img() {
  box-shadow: 4px 5px 8px var.$dark-blue;
  margin-bottom: 10px;
}

