// Variables for the project
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Variables for fonts
$font-family: "Space Grotesk", sans-serif;

// Colors
$black: #151515;
$green: #4EE1A0;
$dark-grey: #242424;
$grey: #444444;
$light-grey: #d9d9d9;
$yellow: #EAF964;
$dark-yellow: #e7ff0f;
$blue: #7DC2EB;
$dark-blue: #13183F;
$white: #FFFFFF;
$light-white: #F3F4FF;

// Margins
$mb-1: 40px; //margin-bottom for sections
$mb-2: 20px; //margin-bottom for internal elements
$br-1: 10px; //border-radius