@use '../abstracts/abstracts' as *;

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, $yellow, $blue);
    padding: 16px;
    margin-bottom: $mb-1;
    gap: 20px;

    &__nav {

        ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            margin: 0;
            gap: 20px 40px;
            backface-visibility: hidden; // Suaviza transiciones

            a {
                min-width: max-content; // Evita saltos en items cortos
                @include link();
            }

            .active {
                font-weight: bold;
                text-decoration: underline;
                text-underline-offset: 10px;
                text-decoration-thickness: 3px;
                &:hover {
                    text-shadow: none;
                }
            }
        }
    }
}

// Media query for tablet

@include breakpoint(tablet) {
 .header{
    flex-direction: row;
    padding: 32px;
    justify-content: space-between;

    &__nav {
        ul {
            flex-wrap: nowrap;
            gap: 10px;
        }
    }

 }   
}