@use '../abstracts/abstracts' as *;

.main {
    padding: 0 16px;   

    @include breakpoint(tablet) {
        padding: 0 32px;
    }

    @include breakpoint(tablethorizontal) {
        padding: 0 48px;
    }
}