@use '../abstracts/abstracts' as *;

// Buttons

.btn-cursos {
    @include button-cursos();
}

.link {
    @include link();
    color: $dark-blue;
    text-transform: uppercase;
    text-decoration: underline;
}

.btn-noticias {
    @include button-cursos();
    /*background-color: $yellow;
    color: $dark-blue;
    border: 3px solid #d2df5a;      //Esta sección estará inhabilitada mientras hago pruebas de colores en botones para estandarizar
    &:hover {
        border: 3px solid $dark-blue;
    }*/ 
}
