@use '../abstracts/abstracts' as *;

h1, h2, h3, h4 {
    color: $dark-blue;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h1 {
    @include styles(700, 21px, 26px, -1.14px);
}

h2 {
    @include styles(700, 21px, 25px, -1px);
}

h3 {
    @include styles(700, 18px, 22px, 0px);
}

h4 {
    @include styles(700, 16px, 20px, 0px);
}

p {
    @include styles(500, 16px, 20px, 0px);
    color: $grey;
    margin-bottom: 20px;
}

// Media query tablet

@include breakpoint(tablet) {
    h1 {
        @include styles(700, 38px, 42px, -0.44px);
    }
    
    h2 {
        @include styles(700, 35px, 43px, -0.5px);
    }
    
    h3 {
        @include styles(700, 20px, 24px, 0px);
    }
    
    h4 {
        @include styles(700, 16px, 20px, -1px);
    }
    
    p {
        @include styles(500, 18px, 28px, 0px);
    }
}

// Media query for tablethorizontal
@include breakpoint(tablethorizontal) {
    h1 {
        @include styles(700, 44px, 48px, -1px);
    }
    
    h2 {
        @include styles(700, 27px, 32px, -0.5px);
    }
    
    h3 {
        @include styles(700, 22px, 26px, 0px);
    }
    
    h4 {
        @include styles(700, 18px, 22px, 0px);
    }
}

// Media query for desktop

@include breakpoint(desktop) {
    h1 {
        @include styles(700, 60px, 62px, -1px);
    }
}