@use '../abstracts/abstracts' as *;

.page-ciberseguridad {

    .course-hero {
        margin-bottom: $mb-1;
    }

    .course-features {
        list-style-position: inside; // Posiciona la lista dentro del marco

        &__item {
            margin-bottom: 10px;
        }
        
        &__item::marker {
            font-family: 'icomoon'; // Fuente de la iconografía
            color: #6d26a0;
            content: "\e900"; // Código de la iconografía
        }
        &__item::before {
            content: '';
            margin: 3px;
        }
    }

    .course-video {
        margin-bottom: $mb-2;
        max-width: 560px;
        &__container {
            position: relative;
            width: 100%;
            padding-bottom: 56.25%; /* Relación 16:9 (9/16 = 0.5625) */
            height: 0;
            overflow: hidden;
            border-radius: $br-1;
          }
          
        &__iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none; /* Opcional: elimina borde por defecto */
          }
    }

    .course-cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        /* Botón CTA */
        &__link {
            display: inline-flex;
            align-items: center;
            gap: 0.5rem;
            padding: 10px 16px;
            background-color: $dark-blue;
            color: $white;
            border-radius: 50px;
            text-decoration: none;
            font-weight: 600;
        } 

        &__actions {
            display: flex;
            gap: 20px;

            &--back-link {
                color: $blue;
                text-decoration: none;
                font-weight: 500;
                
                &:hover {
                  text-decoration: underline;
                }
            }
        }
    }
}

// Media query for tablet 
@include breakpoint(tablet) {
    .page-ciberseguridad {
        .course-video {
            margin-left: auto;
            margin-right: auto;
        }

        .course-cta {
            &__actions {
                gap: 260px;
            }
        }
    }
}

