@use '../abstracts/abstracts' as *;

.page-home {

    .main {

        &-text {
            padding: 0 16px;
        }

        &__intro {
            @include flex-column-center();
            margin-bottom: $mb-1;
            
            &-title, &-text {
                text-align: center;
            }

            &-img {
                border-radius: 10px;
                @include boxshadow-img();
            }
        }

        &__discover{
            margin-bottom: $mb-2;

            &-title {
                @include background-heading();
                text-align: center;
            }
        }

        &__specializations {
            margin-bottom: $mb-1;

            &-title {
                text-align: center;
            }

            &-items {
                @include flex-column-center();
                margin-bottom: $mb-2;
            }

            &-subtitle {
                @include background-heading();
                text-align: center;
            }

            &-text {
                transition-duration: 1s;
            }
            
            figure {
                .img {
                    max-width: 300px;
                    max-height: 190px;
                    border-radius: 10px;
                    @include boxshadow-img();
                }
            }
        }

        &__news {
            margin-bottom: $mb-1;

            &-title {
                text-align: center;
            }

            &-subtitle {
                @include background-heading();
                text-align: center;
            }

            &-text {
                margin-bottom: $mb-2;
            }
        }
    }
}

// Media query for tablet

@include breakpoint(tablet) {
    .page-home {
        .main {
            &__intro {
                flex-direction: row;

                &-title, &-text {
                    text-align: start;
                    padding: 0;
                }
            }

            &__discover{
                margin-bottom: $mb-1;
            }

            &__news {
                &-subtitle {
                    text-align: center;
                }
            }
        }
    }
}