@use '../abstracts/abstracts' as *;

.page-home {

    .main {

        &-text {
            padding: 0 16px;
        }

        &__intro {
            @include flex-column-center();
            margin-bottom: $mb-1;
            
            &-title, &-text {
                text-align: center;
            }

            &-img {
                border-radius: 10px;
                @include boxshadow-img();
            }
        }

        &__discover{
            margin-bottom: $mb-2;

            &-title {
                @include background-heading();
                text-align: center;
            }
        }

        &__specializations {
            margin-bottom: $mb-1;

            &-title {
                text-align: center;
            }

            &-items {
                @include flex-column-center();
                margin-bottom: $mb-2;
            }

            &-subtitle {
                @include background-heading();
                text-align: center;
            }

            &-text {
                transition-duration: 1s;
            }
            
            figure {
                .img {
                    max-width: 300px;
                    max-height: 190px;
                    border-radius: 10px;
                    @include boxshadow-img();
                }
            }
        }

        &__news {
            margin-bottom: $mb-1;

            &-title {
                text-align: center;
            }

            &-subtitle {
                @include background-heading();
                text-align: center;
            }

            &-text {
                margin-bottom: $mb-2;
            }
        }
    }
}

// Media query for tablet

@include breakpoint(tablet) {
    .page-home {
        .main {
            &__intro {
                flex-direction: row;

                &-title, &-text {
                    text-align: start;
                    padding: 0;
                }
            }

            &__discover{
                margin-bottom: $mb-1;
            }

            &__news {
                &-subtitle {
                    text-align: center;
                }
            }
        }
    }
}

// Media query for tablethorizontal

@include breakpoint(tablethorizontal) {
    .page-home {
        .main {
            &__intro {
                gap: 10px;

                &-container {
                    width: 60%;
                }

                &-text {
                    width: 90%;
                }

                &-img {
                    width: 100%;
                }
            }

            &__discover{
                margin-left: auto;
                margin-right: auto;
                width: 63%;
            }

            &__specializations {
                &-articles-container {
                    display: flex;
                    justify-content: space-around;
                }

                &-items {
                    margin: 0;
                    align-items: center;
                    width: 40%;

                    &:first-child {
                        p:last-of-type {
                            margin-top: auto;
                            margin-bottom: 0;
                        }
                        figure {
                            margin-top: 35px;
                        }
                    }
                }
            }

            &__news {
                
                &-container-articles {
                    display: flex;
                    justify-content: space-around;
                }
            }

            &__items {
                width: 40%;
            }

            &__text {
                text-align: center;
            }
        }
    }
}

// Media query for desktop

@include breakpoint(desktop) {
    .page-home {
        .main {
            &__intro-container {
                width: 55%;
            }
        }
    }
}