@use '../abstracts/abstracts' as *;

.page-login {
    .title {
        text-align: center;
    }

    .form {
        font-weight: 600;
        color: $dark-blue;

        &__group {
            margin-bottom: $mb-2;
            display: flex;
            flex-direction: column;
        }

        &__label{
            margin-bottom: 5px;
        }

        &__input {
            border: 0;
            border-bottom: 1px solid $dark-grey;
            background-color: $light-grey;
            color: $grey;
            font-weight: 600;
        }

        &__button {

            &--container {
                display: flex;
                justify-content: space-around;
            }

            &--submit, &--reset {
                @include button-submit-reset();
            }
        }
    }
}

// Media query for tablet
@include breakpoint(tablet) {
    .page-login {
        .form {
            padding-left: 130px;
            padding-right: 130px;
        }
    }
}

// Media query for tablet horizontal
@include breakpoint(tablethorizontal) {
    .page-login {
        .form {
            padding-left: 220px;
            padding-right: 220px;
        }
    }
}

// Media query for desktop
@include breakpoint(desktop) {
    .page-login {

        .form {
            padding-left: 330px;
            padding-right: 330px;
        }
    }
}

// Media query for desktop
@include breakpoint(desktopxl) {
    .page-login {
        .form {
            padding-left: 360px;
            padding-right: 360px;
        }
    }
}