@forward 'home';
@forward 'quienes_somos';
@forward 'cursos';
@forward 'blog';
@forward 'registro';
@forward 'login';
@forward 'contacto';
@forward 'desarrollo_full_stack';
@forward 'blockchain';
@forward 'ia';
@forward 'ciberseguridad';
@forward 'noticia-1';
@forward 'noticia-2';
@forward 'aviso-legal';